<section class="bg-gray section-padding">
  <div class="container">
    <form class="form-subscribe" action="#">
      <div class="input-group align-items-center">
        <input
          type="text"
          class="form-control"
          placeholder="Enter URL"
          required
          [(ngModel)]="url"
          name="url"
        />
        <div class="input-group-append">
          <button
            class="button button-shadow2"
            type="button"
            (click)="shortenUrl()"
          >
            Shorten
          </button>
        </div>
      </div>
    </form>
  </div>
</section>
<div class="url-container">
  <div class="url-container--item" *ngFor="let shortenedUrl of shortenedUrlArray" >
      <div class="links">
        <p>{{ shortenedUrl.longurl }}</p>
        <a target="_blank" href="{{ apiUrl }}/u/{{ shortenedUrl.shorturl }}">
          {{ apiUrl }}/u/{{ shortenedUrl.shorturl }}
        </a>
      </div>
      <button class="button button-shadow2" ngxClipboard [cbContent]="apiUrl+'/u/'+shortenedUrl.shorturl">Copy</button>
  </div>
</div>
