<section class="bg-gray section-padding">
  <div class="container">
    <form class="form-subscribe" action="#">
      <div class="input-group align-items-center">
        <input
          type="text"
          class="form-control"
          placeholder="Enter URL"
          required
          [(ngModel)]="url"
          name="url"
        />
        <div class="input-group-append">
          <button
            class="button button-shadow2"
            type="button"
            (click)="shortenUrl()"
          >
            Shorten
          </button>
        </div>
      </div>
    </form>
  </div>
</section>
